<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/estilo.css">
</head>

<body>
    <header>
        <h1>Página principal del sitio</h1>
    </header>
    <nav>
        <p> mi barra de menú</p>
    </nav>
    <div class="contenedor">
        <aside class="lateral1">
            <p>
                Lorem ipsum dolor sit amet consectetur.
            </p>
        </aside>
        <section class="central">
            <article>
                <p>Articulo 1</p>
                <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id, consequuntur molestiae blanditiis perspiciatis maiores corporis dolores excepturi ducimus at saepe aspernatur? Hic repudiandae ex nihil sunt magnam illum officiis! Vel.
                </p>
            </article>
            <article>
                <p>Articulo 2</p>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque aliquam aliquid ut inventore iusto quod tempora nam consequatur iure ducimus eos, dicta ex eveniet, adipisci soluta provident quia repellendus odit?
                    Maiores, provident cumque. A, quo accusantium, nobis quas quaerat dolores id eius porro totam obcaecati autem molestiae voluptates possimus provident aliquam enim, nemo nisi vero. Voluptatibus suscipit atque maxime. Impedit.
                    Reprehenderit quaerat harum totam facere nulla, ipsum officia laborum asperiores porro possimus nam ipsa atque ea fuga nesciunt eum voluptatem voluptates. Numquam molestiae nulla hic provident, ipsa ea odio facere!
                    Magni beatae quasi consequuntur repellendus dolores aliquam, expedita temporibus dignissimos facilis nostrum! Beatae et quas eius ipsa voluptatibus corporis doloribus architecto quo magnam, quibusdam ut tempore necessitatibus consequatur eligendi natus!
                </p>
            </article>
        </section>
        <aside class="lateral2">
            lateral2
        </aside>
    </div>
    <footer>
        <p> Mi pie de página</p>
    </footer>

</body>

</html>